*{
    font-size: 16;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}
body{
}
main{
z-index: 1;
}
button,input[type = button]{
    padding: 8px 18px;
    background-color:coral;
    color:chartreuse;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 1s linear 0s  ;
    font-family: cursive;
    position: absolute;
}
button:hover,input[type = button]:hover{
    transform:scale(1.05,1.03);
    border: solid chartreuse  2px;
    
}
fieldset{
    border: solid black 10px;
    padding: 10px 10px;
    height: 100vh;
    background-color:burlywood;
}
table,th,td{
    border: solid darkgray 2px;
    text-align: center;
    border-collapse: collapse;
}
table{
    width: 90%;
    background-color: darkorange;
}
input[type = text]{
    margin: 0px 300px;
    background-color: darkgray;
}
select{
    height: 25px;
    color:chartreuse;
    background-color: cadetblue;
    border:none
}
h2{
    color: chartreuse;
    background-color: darkgray;
}
h1{
    /* margin-top: 0px; */
    color: greenyellow;
    font-size: 50px;
    color: red;
    font-weight:700 ;
    /* background-color: red; */
}
.errors{
    color: red;
    margin-left: 30px;
}
